@tailwind base;
@tailwind components;
@tailwind utilities;

/* 1. FUENTES */
@font-face {
  font-family: 'play';
  src: url('/playfair.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'one';
  src: url('/one.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

